<h1 class="m-3 my-1">家庭口罩预约</h1>

<div class="row centered-md">
  <div class="col-md-12 col-lg-4">
    <div class="m-3">
      <h5>成功的预约</h5>
      <%= if (orderCount != 0) { %>
        <h6><%= orderCount %> 未购买</h6>
      <% } else { %>
        <h6 class="text-success">已经全部购买</h6>
      <% } %>
        <p>
          查看所未购买的预约, 包括还没有生效的预约
          <br>
          <span class="text-info">每个预约会在第二天生效</span>
        </p>
        <a class="btn btn-outline-primary">查看预约</a>
      </div>
    </div>
    <div class="col-md-12 col-lg-4">
      <div class="m-3">
        <h5>填写验证码</h5>
        <%= if (captchaCount != 0) { %>
          <h6><%= captchaCount %> 未填写</h6>
        <% } else { %>
          <h6 class="text-success">无正在使用的验证码</h6>
          <h7 class="text-info">建议生成验证码</h7>
        <% } %>
        <p>
          为口罩预约填写验证码, 并为图像识别提供训练数据
          <br>
          建议积极填写
        </p>
        <a class="btn btn-outline-primary">填写数据</a>
      </div>
    </div>
    <div class="col-md-12 col-lg-4">
      <div class="m-3">
        <h5>查看登陆凭据</h5>
        <p>
          登陆<a class="reference" href="http://kz.yq.zszwfw.cn/kzyy-register/#/">中山市口罩预约系统</a>时需要的手机号和身份验证码
        </p>
        <a class="btn btn-outline-primary">查看</a>
      </div>
    </div>
  </div>